src-tauri/target/
src-tauri/binaries/
target/
node_modules/
dist/
dist-web/
gen/
**/.DS_Store
atomic.db
atomic.db-journal
atomic.db-wal
docker-compose.prod.yml

# iOS
ios/AtomicMobile.xcodeproj/
ios/DerivedData/